body{
margin:0;
font-family:Arial;
background:linear-gradient(5deg,#0f2027,#223c42,#2d444c);
color:white;
}

.header{
width:100%;
text-align:center;
padding:22px;
font-size:28px;
font-weight:bold;

/* contrast gradient */
background:linear-gradient(10deg,#0f0e0e53,#673939a4);

/* white text */
color:rgb(255, 254, 254);

/* subtle shadow */
box-shadow:0 4px 15px rgba(0,0,0,0.5);

/* sticky top navbar */
position:sticky;
top:0;
z-index:100;
}

.container{
display:flex;
justify-content:center;
align-items:center;
min-height:80vh;
}

.glass-card{
width:600px;
padding:40px;
border-radius:15px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);
box-shadow:0 10px 40px rgba(0,0,0,0.4);
text-align:center;
}

.question{
font-size:22px;
margin-bottom:40px;
}

.buttons{
display:flex;
justify-content:center;
gap:30px;
}

button{
padding:12px 30px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
}

.yes{
background:#00c6ff;
color:white;
}

.no{
background:#ff4b4b;
color:white;
}

.progress-container{
height:8px;
background:#444;
border-radius:5px;
margin-top:30px;
}

.progress-bar{
height:100%;
background:#00ff9c;
border-radius:5px;
transition:0.4s;
}

.progress-text{
margin-top:10px;
font-size:14px;
color:#ccc;
}

.form{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-top:20px;
}

input,select{
padding:12px;
border:none;
border-radius:6px;
background:#222;
color:white;
}

.predict-btn{
grid-column:span 2;
margin-top:15px;
background:linear-gradient(90deg,#00c6ff,#0072ff);
color:white;
}

.result{
margin-top:30px;
}

.risk-bar{
height:10px;
background:#333;
border-radius:5px;
margin-top:10px;
}

.risk-fill{
height:100%;
background:linear-gradient(90deg,#00ff9c,#00c6ff);
border-radius:5px;
}